PORT=5000
MONGODB_URI=mongodb+srv://kalapatihemanth2006_db_user:HCKabpC4fQvJiIk5@cluster0.gxuoblx.mongodb.net/?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_change_in_production
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
